@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  interpolate-size: allow-keywords;
}

body {
  background: rgb(13, 14, 32);
}
body h2 {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(45, 28, 127, 0.3);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(200, 179, 246, 0.26);
  margin: 2rem 1rem 0 1rem;
  padding: 10px;
  font-family: "Melodrama", serif;
  font-size: 30px;
  color: rgb(200, 179, 246);
  text-align: center;
}

.hide {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

.accordion__label:hover {
  cursor: pointer;
}

.accordion__child {
  overflow: hidden;
  opacity: 0;
  height: 0;
  transform: scale(0);
  transform-origin: bottom right;
  border-radius: 16px 16px 0 16px;
  border: 1px solid rgba(200, 179, 246, 0.26);
  padding: 0px;
  font-family: "Quicksand", sans-serif;
  color: rgb(200, 179, 246);
  color: rgb(200, 179, 246);
  text-align: center;
  margin: 0 calc(1rem + 16px);
  transition: 1s ease;
}
.accordion__child p {
  opacity: 0;
  transition: 0.3s ease;
}
input:checked ~ .accordion__child {
  margin-top: 10px;
  padding: 10px;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
}
input:checked ~ .accordion__child p {
  opacity: 1;
  transition: 1s ease 400ms;
}

.leftaccordion__child {
  overflow: hidden;
  opacity: 0;
  height: 0;
  transform: scale(0);
  transform-origin: bottom left;
  border-radius: 16px 16px 16px 0;
  border: 1px solid rgba(200, 179, 246, 0.26);
  padding: 0px;
  font-family: "Quicksand", sans-serif;
  color: rgb(200, 179, 246);
  color: rgb(200, 179, 246);
  text-align: center;
  margin: 0 calc(1rem + 16px);
  transition: 1s ease;
}
.leftaccordion__child p {
  opacity: 0;
  transition: 0.3s ease;
}
input:checked ~ .leftaccordion__child {
  margin-top: 10px;
  padding: 10px;
  height: auto;
  opacity: 1;
  transform: scale(1);
}
input:checked ~ .leftaccordion__child p {
  opacity: 1;
  transition: 1s ease 400ms;
}

svg {
  width: 200px;
  height: 200px;
}

.ear {
  fill: orange;
  transform-origin: center bottom;
  animation: wiggle 1s ease-in-out infinite alternate;
}

/* Animation CSS */
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.ear-left {
  transform-origin: 75px 60px; /* ajusté selon l'oreille gauche */
}

.ear-right {
  transform-origin: 125px 60px; /* ajusté selon l'oreille droite */
  animation-delay: 0.5s; /* pour que les oreilles bougent en décalé */
}

/*# sourceMappingURL=style.css.map */
