@import "../utils/variables";
@import "../utils/mixins";

#head{
  fill:$primary-light;
}
.ear{
  fill:$primary-light
}
#bottom-eye{
  fill:$primary-dark;
}
#upper-eye{
  fill:$primary-dark;
}
#fill-eye{
  fill:$primary-light;
}
.paws{
  fill:$primary-light;
}

#cat{
  transform-origin: 25px 50px;
  transform:translateY(85%) translateX(680%) scaleY(0);
  transition: 1s ease;
  opacity:0;
  height:0;
  & .paws{
    transform-origin: top;
    transform:scaleY(0);
    opacity:0;
    transition: 1s ;
  }
  input:checked~& {
    transform:translateY(85%) translateX(680%)scaleY(1);
    opacity:1;
    height:50px;
    transition-delay:.5s; 
    & .paws{
      opacity:1;
      transform:scaleY(1);
      transition-delay:.5s;
    }
  }
}
