@import "../utils/variables";
@import "../utils/mixins";

#head{
  fill:$primary-light;
}
.ear{
  fill:$primary-light
}
#bottom-eye{
  fill:$primary-dark;
}
#upper-eye{
  fill:$primary-dark;
}
#fill-eye{
  fill:$primary-light;
}
.paws{
  fill:$primary-light;
}

// the two following transition work i just keep the first to help 

// #cat{
//   transform-origin: center;
//   transform:translateY(175%) translateX(680%);
//   transition: 1s .5s;
//   opacity:0;
//   height:0;
//   input:checked~& {
//     transform:translateY(85%) translateX(680%);
//     opacity:1;
//     height:50px;
//   }
// }

#cat{
  transform-origin: 25px 50px;
  transform:translateY(85%) translateX(680%) scaleY(0);
  transition: 1s ease;
  opacity:0;
  height:0;
  input:checked~& {
    transform:translateY(85%) translateX(680%)scaleY(1);
    opacity:1;
    height:50px;
    transition-delay:.5s;
  }
}
