// colors
$secondary-light: rgba(117, 70, 232, 1);
$secondary-dark: rgba(45, 28, 127, 1);
$primary-light: rgba(200, 179, 246, 1);
$primary-dark: rgba(13, 14, 32, 1);

$font-title: 'Melodrama', serif;
$font-secondary:'Quicksand', sans-serif;